@import '../../styles/vars';
@import '../../styles/mixins';

.login {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 70px;
  border: 1px solid $light-gray;
  border-radius: $base__radius;
}