@import '../../styles/vars';
@import '../../styles/functions';

.application-1 {
  padding: 20px;
  
  .chartsContainer {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;

    .chart__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .chartText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: em(20);
      font-weight: 500;

      span {
        display: block;
        font-size: em(10);
        margin-top: 10px;
        color: $gray;
      }
    }
  }
}