@import '../../styles/vars';

.header {
  position: relative;
  width: 100%;
  height: 190px;
  background: url('/assets/images/bg-header1980x190.png') no-repeat;
  background-size: cover;

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: rgba($white, 0.5);
  }

  &__logo {
    height: 78px;
    margin: 20px;
    cursor: pointer;
  }

  &__navigation {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    a {
      margin: 0 10px;
    }

    img {
      height: 63px;
    }
  }
}