html {
  box-sizing: border-box;
}

html,
body {
  background: $base__backgroundColor;
  font-family: $base__fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background: $blue;
    color: $white;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}