.form {
  &__horizontalInputGroup {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 10px;

    .form__label {
      width: 150px;
    }

    .button {
      margin-left: 110px;
    }
  }

  &__label {
    font-weight: 400;
    font-size: em(18);
    color: $base__fontColor;
  }

  &__input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: $base__radius;

    &:focus {
      outline: none;
      border-color: $black;
    }
  }

  &__errors {
    color: $red;
    font-size: em(14);
    font-weight: 500;
    line-height: em(22);
    margin-bottom: 20px;
  }
}