@mixin shadow($strength: 1) {
  @if $strength == 0 {
    box-shadow: none;
  }
  @else if $strength == 1 {
    box-shadow: 0 2px 3px rgba($black, 0.17);
  }
  @else if $strength == 2 {
    box-shadow: 0 3px 6px rgba($black, 0.17);
  }
  @else if $strength == 3 {
    box-shadow: 0 5px 15px rgba($black, 0.17);
  }
}

@mixin text($size, $line, $fontWeight, $margin: 0, $family: $base__fontFamily) {
  font-size: em($size);
  font-weight: $fontWeight;
  line-height: ($line / $size);
  font-family: $family;
  margin-bottom: em($margin, $size);
}