p, input, a, span {
  font-family: $base__fontFamily;
  font-size: em(14);
  font-weight: $base__fontWeight;
  line-height: em($base__lineHeight);
}

.text--alert {
  color: $red;
  font-weight: 500;
}

.text--center {
  text-align: center;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: $base__radius;
  padding: 7.5px 15px;
  font-size: em(16);
  font-weight: 500;
  
  &--blue {
    background: $blue;
    color: $white;
    border: 1px solid $dark-blue;
  }
}